# Series

In [1]:
import pandas as pd
import numpy as np

### Creating a Series Object with a Python List

In [14]:
names = ['mohit', 'rohit', 'alex', 'paul', 'steven', 'ray']
pd.Series(names)

0     mohit
1     rohit
2      alex
3      paul
4    steven
5       ray
dtype: object

### Creating a Series Object with a Python Dictionary

In [15]:
students = {
   "name" : ['mohit','alex', 'rohit'],
    "roll_no" : [1,2,3],
    "age" : [10,10,10]
}

pd.Series(students)

name       [mohit, alex, rohit]
roll_no               [1, 2, 3]
age                [10, 10, 10]
dtype: object

#### Some methods on series

In [17]:
prices = pd.Series([1.22,2.65,1.2])
prices

0    1.22
1    2.65
2    1.20
dtype: float64

In [18]:
prices.sum()

5.07

In [19]:
prices.product()

3.8795999999999995

In [21]:
prices.mean()

1.6900000000000002

### Intro to Attributes

Attributes are just static details about an object we do not execute them, where as methods are executable and have paranthesis at the end

In [22]:
adjectives = pd.Series(['handsome', 'charming', 'intelligent'])
adjectives

0       handsome
1       charming
2    intelligent
dtype: object

In [23]:
adjectives.size

3

In [25]:
adjectives.is_unique

True

In [26]:
adjectives.index

RangeIndex(start=0, stop=3, step=1)

## Parameters and Arguments

In [27]:
#parameter - The name we give to an expected input 
#Argument - The concrete value we provide to a parameter

In [28]:
fruits = ['apple', 'orange', ' mango']
weekends = ['friday','saturday','sunday']

pd.Series(data = fruits, index = weekends)

friday       apple
saturday    orange
sunday       mango
dtype: object

## Import Series with pd.read_cvs Function

In [42]:
movie_data = pd.read_csv('DigiDB_movelist.csv', usecols=["Move"] ).squeeze()     #It will import a dataframe

In [43]:
movie_data.head(5)

0      Wolkenapalm I
1     Wolkenapalm II
2    Wolkenapalm III
3      Burst Flame I
4     Burst Flame II
Name: Move, dtype: object