# Series

In [1]:
import pandas as pd
import numpy as np

### Creating a Series Object with a Python List

In [2]:
names = ['mohit', 'rohit', 'alex', 'paul', 'steven', 'ray']
pd.Series(names)

0     mohit
1     rohit
2      alex
3      paul
4    steven
5       ray
dtype: object

### Creating a Series Object with a Python Dictionary

In [3]:
students = {
   "name" : ['mohit','alex', 'rohit'],
    "roll_no" : [1,2,3],
    "age" : [10,10,10]
}

pd.Series(students)

name       [mohit, alex, rohit]
roll_no               [1, 2, 3]
age                [10, 10, 10]
dtype: object

#### Some methods on series

In [4]:
prices = pd.Series([1.22,2.65,1.2])
prices

0    1.22
1    2.65
2    1.20
dtype: float64

In [5]:
prices.sum()

5.07

In [6]:
prices.product()

3.8795999999999995

In [7]:
prices.mean()

1.6900000000000002

### Intro to Attributes

Attributes are just static details about an object we do not execute them, where as methods are executable and have paranthesis at the end

In [8]:
adjectives = pd.Series(['handsome', 'charming', 'intelligent'])
adjectives

0       handsome
1       charming
2    intelligent
dtype: object

In [9]:
adjectives.size

3

In [10]:
adjectives.is_unique

True

In [11]:
adjectives.index

RangeIndex(start=0, stop=3, step=1)

## Parameters and Arguments

In [12]:
#parameter - The name we give to an expected input 
#Argument - The concrete value we provide to a parameter

In [13]:
fruits = ['apple', 'orange', ' mango']
weekends = ['friday','saturday','sunday']

pd.Series(data = fruits, index = weekends)

friday       apple
saturday    orange
sunday       mango
dtype: object

## Import Series with pd.read_cvs Function

In [14]:
movie_data = pd.read_csv('DigiDB_movelist.csv', usecols=["Move"] ).squeeze()     #It will import a dataframe

In [15]:
movie_data.head(5)

0      Wolkenapalm I
1     Wolkenapalm II
2    Wolkenapalm III
3      Burst Flame I
4     Burst Flame II
Name: Move, dtype: object

In [16]:
 movie_data.tail(5)

382    Garuru Tomahawk
383     Fist of Athena
384     Supreme Cannon
385    Dark Prominence
386       Plasma Shoot
Name: Move, dtype: object

### Passing Series to Python's Build-in Functions

In [17]:
len(movie_data)  #length of series

387

In [18]:
type(movie_data)

pandas.core.series.Series

In [19]:
sorted(movie_data)
dict(movie_data)
max(movie_data)
min(movie_data)

'Acceleration Boost'

In [20]:
movie_data.sort_values().head()

128    Acceleration Boost
118        Agility Charge
360    Aguichant L\E8vres
162              Air Shot
307      Amethyst Mandala
Name: Move, dtype: object

In [21]:
movie_data.sort_values(ascending=False, ignore_index=True)

0                  X-Heal
1                  X-Aura
2         Wyvern's Breath
3         Wolkenapalm III
4          Wolkenapalm II
              ...
382      Amethyst Mandala
383              Air Shot
384    Aguichant L\E8vres
385        Agility Charge
386    Acceleration Boost
Name: Move, Length: 387, dtype: object

### Sort Index Method

In [22]:
movie_new_data = pd.read_csv('DigiDB_movelist.csv', index_col="Type").squeeze("columns")

In [23]:
movie_new_data.sort_index(ascending=False)

,Move,SP Cost,Power,Attribute,Inheritable,Description
Type,,,,,,
Support,Chain Loss,8,0,Neutral,Yes,Reduce COMBO for one enemy by 100%.
Support,Chain Minus,4,0,Neutral,Yes,Reduce COMBO for one enemy by 50%.
Support,Speed Charge,6,0,Neutral,Yes,Increases SPD of one member by 10%.
Support,Speed Charge Field,20,0,Neutral,Yes,Increases SPD of all battle members by 10%.
Support,Hit Charge,6,0,Neutral,Yes,Increases ACC of one battle member by 10%.
...,...,...,...,...,...,...
Fixed,Death Claw,10,0,Neutral,No,Fixed damage of 200 to one foe. Absorbs 20% of...
Direct,Death Charm,10,0,Neutral,No,Reduce 10% HP from one enemy.
Direct,Chaos Degradation,25,0,Neutral,No,Reduces HP of all foes by 25%.
Direct,Revenge Flame,15,0,Neutral,No,Counterattack the enemy when you receive a phy...
Direct,Berserk Sword,15,0,Neutral,No,Inflict Death on one enemy. 30% accuracy.

### Check for inclusion with Python's in Keyword

In [24]:
#checking wheather a value exists or not

In [25]:
movie_data_2 = pd.read_csv('DigiDB_movelist.csv', usecols=["Move"]).squeeze()
movie_data_2.head()

0      Wolkenapalm I
1     Wolkenapalm II
2    Wolkenapalm III
3      Burst Flame I
4     Burst Flame II
Name: Move, dtype: object

In [26]:
name = input("Enter movie name: ")
name in movie_data_2.values

Enter movie name: Wolkenapalm

False

### Extract series Vlaue by Index Position

In [31]:
movie_data_2 = pd.read_csv('DigiDB_movelist.csv', usecols=["Move"]).squeeze()
movie_data_2.head()

0      Wolkenapalm I
1     Wolkenapalm II
2    Wolkenapalm III
3      Burst Flame I
4     Burst Flame II
Name: Move, dtype: object

In [32]:
numbers = [1,2,3,4]
numbers[1]

2

In [35]:
movie_data_2[0]
movie_data_2[2]

'Wolkenapalm III'

In [39]:
for i in range(10):
    if i%2 == 0:
        print(movie_data_2[[i]])

0    Wolkenapalm I
Name: Move, dtype: object
2    Wolkenapalm III
Name: Move, dtype: object
4    Burst Flame II
Name: Move, dtype: object
6    Meteor Fall I
Name: Move, dtype: object
8    Meteor Fall III
Name: Move, dtype: object